# Normalize EOL for all files that Git considers text files.
* text=auto eol=lf

# Export Ignores
/.github/ export-ignore
/test/ export-ignore
/.gitignore export-ignore
/.gitattributes export-ignore
/icon.png export-ignore
/icon.png.import export-ignore
/LICENSE export-ignore
/README.md export-ignore
/project.godot export-ignore