name: gdunit4-tests
run-name: ${{ github.head_ref || github.ref_name }}-gdunit4-tests

on:
  pull_request:
    branches: [ main ]
    paths-ignore: ['**.md']

jobs:
  unit-test:
    name: "CI Unit Test"
    runs-on: ubuntu-latest
    timeout-minutes: 10
    permissions:
      actions: write
      checks: write
      contents: write
      pull-requests: write
      statuses: write

    steps:
      - uses: actions/checkout@v6
        with:
          lfs: false

      - uses: MikeSchulze/gdunit4-action@v1
        with:
          godot-version: '4.5.1'
          paths: |
            res://tests/
          timeout: 10
          report-name: test_report.xml
